.bottom-container{

  padding: 20px 0 20px;
  margin: 100px 10% 0;
  border-radius: 50px;
  text-align: center;
  line-height: 2;
  font-family: 'Montserrat';
  color: black;
}

.bottom-container h3{
  margin-bottom: 20px;
}

.bottom-container .inlogo{
  font-size: 35px;
}

.bottom-container .copy{
  margin-top: 10px;
}

.bottom-container  a{
  color: black;
  font-weight: bold;
  font-family: 'Montserrat';
  font: 1rem bold;
}

.footer_link a:hover{
  transform: scale(1.3);
  transition: 0.3s;
}
