.bottom-container{
  background-color: #b8aff0;
  padding: 500px 0 500px;
  margin-top: 500px;
  text-align: center;
  font-size: 22px;
}

.bottom-container h1{
  margin-bottom: 40px;
}

.bottom-container p{
  margin-top: 30px;

}

.bottom-container  a{
  color: black;
  font-weight: bold;
  margin: 30px 40px 40px;
  font-family: 'Montserrat';
  font: 23px bold;
}

.footer_link:hover{
  transform: scale(1.3);
  font: 26px bold;
  transition: 0.3s;
}
