
.Barr{
  font-family: 'Montserrat';
  font-weight: bolder;
  padding: 0;

}

.barr{
}

.me-auto{
  text-align: right;
  justify-content: end;
}

.Barr p{
  padding: 0 10px 0;
  margin: 0;
}

.Barr button{
  margin-left: 10px;
}

.brand-bar{
  font-size: 2.5rem;

}

@media only screen and (min-width: 1200px) {
  .me-auto{
    font-size: 1.2rem;
  }
}
