
.Barr{
  font-family: 'Montserrat';
  font-weight: bolder;
  padding: 0;

}


.me-auto1{
  text-align: right;
  justify-content: end;
}

.Barr p{
  padding: 0 10px 0;
  margin: 0;
}

.Barr button{
  margin-left: 10px;
  padding: 2px 10px;
}

.brand-bar{
  font-size: 2rem;
}

@media only screen and (min-width: 1200px) {
  .me-auto1{
    font-size: 1.4rem;
  }
}
