


body {
  margin: 0;
  padding: 0;
  background-color: #EDD2F3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button{
  border-radius: 10%;
  font-family: 'Montserrat';
  font-size: 22px;

  color: #FF9292;


  border-width: 1px;

  opacity: 0.9;

}

.bttn p{
  font-size: 22px;
  margin: 0;
  padding:0;
}

button:hover{
  transform: scale(1.1);
  transition: 0.5s;

  color: #C996CC;
  opacity: 1.0;

}

navegacion{
  font-family: 'Montserrat';
}


.Page{
  font-family: 'Pushster', cursive;
  background-color: #EDD2F3;
  background-image: url('../Images/background.jpg');

}

.Document{
  height: 100%;
  text-align: center;
}



.big-container{
  padding: 40px 5%;
}






.img_ficha{
  border: 0px;
  border-style: solid;
  width: inherit;
  height: inherit;
  align: bottom;
}



.head{
  font: 36px bold;
  font-family: 'Dancing Script','Montserrat',cursive;

  margin: 50px auto 0;
  padding-top: 50px;
  color: black;

}




.set-fichas{
}





a{
  color: #998CEB;

}

a:hover{
  color: #F7E8E8;
  font-size: 22px;
}


/* Board  */

.Body1{

  background-color: rgba(202, 180, 240, 0.5) ;

  border-radius: 10%;

  padding: 10px 30px 10px;
  
}

.spacer{
  width: 95%;
  margin: 20px 0 20px;
  display: flex;
  justify-content: end;
}
.Drawer{
  border: 3px solid #9e8778;
  padding: 0 8px 5px 8px;
  background-color: #b5a398;
}


.piece{
  width: 2.5vw;
  margin: 4px auto 1px;

}

.black_piece{
  width: 30px;
  margin: 4px auto 1px;
}


.Tablero{
  width: 100%;
  position: relative;

}

.tablero{
  margin: 0 auto;

}

.container- {
   background-color: red;
   position: relative;
   width: 100%;
   padding-bottom: 10%; /* 4:3 Aspect Ratio */
}

#board{
  z-index: 2;
  background-image: url("../Images/ur_board.png");
  background-size: 100% 100%;

}


.cell_style{
  width: 5.5vw;
  height: 5.5vw;
  text-align: center;

}

.cell_style:hover{
  background-color: rgba(255,255,255,0.3);
}


/* Footer */


/*FOOTER*/

.Footer{
  margin: 5px 3% 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(202, 180, 240, 0.5);
  border-radius: 10%;



}

.foot{

  text-align: center;
  font-size: 26px;
  padding: 25px;

}
.dice_drawer .bttn{
  margin-bottom: 15px;

}

.dice-3{
  height: 40px;
  width: 40px;
}

.Reset{
  /* width and color */

}
#bar{
  width: 80%;
}
#label{
  font-family: 'Montserrat';
  font-size: 19px;
  -webkit-text-stroke: 1.5px black;
}
.Info{
  font-size: 20px;
  -webkit-text-stroke: 1.5px black;
  font-family: 'Montserrat';

}

@media only screen and (max-width: 992px) {
  .Footer {
    flex-direction: row;
  }
  .piece{
    width: 3.2vw;
  }

  .cell_style{
    width: 9vw;
    height: 9vw;
  }

  .Info{
    font-size: 2vw;
  }

  #label{
    font-size: 2vw;
  }

  .bttn p{
    font-size: 2vw;
  }

  .dice-3{
    height: 4vw;
    width: 4vw;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .dice {
    animation: dice-spin infinite 5s linear;
  }
}

@keyframes dice-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
