


body {
  margin: 0;
  padding: 0;
  background-color: #EDD2F3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: 'Montserrat';
  font-size: 38px;

  color: #FF9292;
  border: none;

  height: 40px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5%;
}

.btn_rs{
  font-size: 40px;
}


button:hover{
  transform: scale(1.1);
  transition: 0.5s;

  color: #C996CC;

}

navegacion{
  font-family: 'Montserrat';
}


.Page{
  font-family: 'Pushster', cursive;
  background-color: #EDD2F3;

}

.Document{
  height: 100%;
}



.Body{
  height: 440px;

  background-color: #998CEB;
  margin: 20px 10% 20px;
  position: relative;
  border-radius: 10%;}



.tablero{
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  top: 23%;
  left: 12%;
  width: 600px;
  height: 225px;
  padding: 0;
}

.img_ficha{
  border: 0px;
  border-style: solid;
  width: inherit;
  height: inherit;
  align: bottom;
}

#Drawer0{
  position: absolute;
  top: 5%;
  right: 5%;
  border: 3px double;
}

#Drawer1{
  position: absolute;
  bottom: 5%;
  right: 5%;
  border: 3px double;
}

.head{
  font: 36px bold;
  font-family: 'Dancing Script','Montserrat',cursive;

  margin: 50px auto 0;
  padding-top: 50px;
  color: black;
  border: 0;
  width: 400px;
  background-color: none;
  position: relative;

  text-align: center;
  padding-bottom: 10px;

}




.black_piece{
  width: 30px;
  padding-left: 5px;
}





.set-fichas{
  font: bold 18px 'Pushster';
  -webkit-text-stroke: 1px black;
}


/*FOOTER*/

.Footer{
  height:200px;
  display: flex;
  flex-direction: row;
  position:relative;
  margin: 20px 10% 20px;
}

.dice_drawer{
  padding:10px;
  flex:auto;
  text-align: center;
  font-size: 26px;
}
.Reset{
  /* width and color */
  border-width: 1px;
  border-style: dashed;
  flex: initial;
  height: 140px;
  padding: 20px;
  text-align: center;
  font-size:26px;
}
.Info{
  -webkit-text-stroke: 1px black;
  padding: 12px;
  margin-left: 40px;
  flex: auto;
  font-size: 20px;
}

td{
  border-radius: 5%;
}

.cell_style{
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;

}



a{
  color: #9D84B7;

}

a:hover{
  color: #F7E8E8;
  font-size: 22px;
}


.goal{
  color: black;
  font-size: 24px;
  border-radius: 100%;
  width: 30px;
  position:relative;
  top: -25px;
  left: 50%;
  margin: 0;
}
.break {
  flex-basis: 100%;
  height: 0;
}
