*{
  font-family: "Lucida Console", Courier, monospace;
}


body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.Page{
  background-image: url('Images/background_purple.png');
  
}

.document{
  height: 100%;
}

.Header{
  height: 150px;
}

.Body{
  height: 440px;
}

.Footer{
  height:200px;
}

.tablero{
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  top: 250px;
  left: 200px;
  width: 600px;
  height: 225px;
  padding: 0;
}

.img_ficha{
  border: 0px;
  border-style: solid;
  width: inherit;
  height: inherit;
  align: bottom;
}

#Drawer0{
  position: absolute;
  top: 170px;
  left: 550px;
  border: 3px double;
}

#Drawer1{
  position: relative;
  top: 380px;
  left: 550px;
  border: 3px double;
}
.pres{
  background-color: rgba(0,0,0,0.1);
  font: 18px monospace;
  position: relative;
  top: 57px;
  left: 250px;
  border-radius: 10%;

  width: 200px;
  padding-left: 10px;

}

.head{
  font-size: 28px;
  line-height: 10px;
  left: 50px;
  border: 0;
  width: 400px;
  background-color: none;
  position: relative;

  text-align: center;
  padding-bottom: 10px;

}


.dice_drawer{
  padding:10px;
  position: relative;
  left: 50px;
  line-height: 30px;
  text-align: center;
}

.black_piece{
  width: 30px;
  padding-left: 5px;
}

button{
  font: bold 24px monospace;
  color: inherit;
  border: none;
  background-color: rgba(0,0,0,0.15);
  height: 50px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5%;
}

.bttn_dice:hover{
  font-size: 29px;
  color: #C996CC;
  height: 55px;
}

.bttn_rs{
  font: bold 23px monospace;
  height: 40px;

}

.bttn_rs:hover{
  font: bold 26px monospace;
  color: #C996CC;
}

.Reset{
  border-width: 1px;
  border-style: dashed;
  position: relative;
  left: 100px;
  top: 20px;
  padding: 15px;
  text-align: center;
}

.set-fichas{
  font: bold 18px monospace;
}

.Info{
  padding: 12px;
  font: 24px monospace;
  position: relative;
  left: 120px;
  top: 5px;
}

td{
  border-radius: 5%;
}

.cell_style{
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;

}



a{
  color: #9D84B7;
  font: 18px monospace;
}

a:hover{
  color: #F7E8E8;
  font: 22px monospace;
}

.test_cell{
  background-image: url('');
}


.goal{
  color: black;
  font-size: 24px;
  border-radius: 100%;
  width: 30px;
  position:relative;
  top: -25px;
  left: 50%;
  margin: 0;
}
